// Layout Style
#mainNav {
    ul.navbar-nav {
        li {
            padding:0 12px;
            a{
                color: #fff;
                font-size: 12px;
                line-height: 18px;
                text-transform: uppercase;
            }
        }
    }   
}
header.masthead {
    padding-top: 10rem;
    padding-bottom: calc(4rem - 4.5rem);
    background-image: url('../img/Intersect.png');
    background-position: bottom;
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-size: cover;
    position: relative;

}

 .arrow-home-down {
    background: #FCAD2D;
    width: 180px;
    height: 180px;
    border-radius: 100%;
    margin: auto;
    position: relative;
    bottom: 90px;
    i{
        line-height: 180px;
        font-size: 45px;
        color: #fff;
    }
}


@media (min-width: 992px){
    header.masthead {
        height: 100vh;
        min-height: 40rem;
        padding-top: 4.5rem;
        padding-bottom: 30px;
    }
}